<app-navegacion></app-navegacion>
<section class="nuevo d-flex flex-column align-items-center p-3">
  <nav aria-label="breadcrumb" class="w-100 container-breadcrumb">
    <ol class="breadcrumb mx-3 my-3 my-md-3">
      <li class="breadcrumb-item">
        <a routerLink="/principal">Inicio</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Administracion Usuarios
      </li>
    </ol>
  </nav>
  <div class="d-flex flex-column w-100 gap-3 mt-md-4 p-md-4 p-3">
    <article class="align-content-center text-center text-md-start">
      <h2>Administración de Usuarios</h2>
      <p class="text-start lh-base fs-6">
        En esta sección puedes realizar la administración de los usuarios. En
        este listado verás todos los usuarios registrados, donde también podrás
        dar clic en el icono de lápiz para editar su información y el icono de
        caneca para eliminar el usuario para que no ingrese más al sitio o
        agregar un nuevo usuario con el siguiente botón: 
      </p>
      <button
        (click)="addUser()"
        class="btn color-boton efecto-hover w-md-auto"
        role="button"
      >
        Nuevo usuario
      </button>
    </article>
    <app-generic-table
      [data]="users"
      [columns]="displayedColumns"
      [showActions]="true"
      (actionEvent)="handleAction($event)"
    ></app-generic-table>
  </div>
</section>
