<footer
  class="my-footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4"
>
  <a
    href="#"
    class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
  >
    <img src="title.png" alt="logo" />
  </a>
  <div class="text-center" style="color: beige">
    <a href="#" class="" style="color: azure; text-decoration: none"
      >Conocenos</a
    >
    <p class="border-top">© 2024 Copyright Tierra de bendición</p>
  </div>
  <ul
    class="nav col-md-4 justify-content-center list-unstyled d-flex gap-0 column-gap-5"
  >
    <li class="ms-3">
      <a href="https://www.facebook.com/TDBIGLESIA?mibextid=ZbWKwL">
        <i class="bi bi-facebook" style="font-size: 2rem; color: white"></i
      ></a>
    </li>
    <li class="ms-3">
      <a
        href="https://www.instagram.com/tierradebendicion_ad?igsh=MmJodzJ1ZDAyNGV1"
      >
        <i class="bi bi-instagram" style="font-size: 2rem; color: white"></i
      ></a>
    </li>
    <li class="ms-3">
      <a href="#">
        <i class="bi bi-whatsapp" style="font-size: 2rem; color: white"></i
      ></a>
    </li>
  </ul>
</footer>
