<footer class="bg-dark py-4 mt-auto bottom-0">
  <div class="container px-5">
    <div
      class="row align-items-center justify-content-between flex-column flex-sm-row"
    >
      <div class="col-auto">
        <div class="small m-0 text-white">
          Copyright &copy; tierra Bendicion 2024
        </div>
      </div>
      <div class="col-auto">
        <a class="" href="#!"><i class="bi bi-instagram"></i></a>
        <a class="link-light small" href="#!"
          ><i
            class="bi bi-facebook"
            style="font-size: 2rem; color: cornflowerblue"
          ></i
        ></a>
        <a class="link-light small" href="#!"
          ><i class="bi bi-whatsapp" style="font-size: 2rem; color: green"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
