<app-navegacion></app-navegacion>
<section class="nuevo d-flex flex-column align-items-center p-3">
  <nav aria-label="breadcrumb" class="w-100 container-breadcrumb">
    <ol class="breadcrumb mx-3 my-3 my-md-3">
      <li class="breadcrumb-item">
        <a routerLink="/principal">Inicio</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/miembros">Miembros</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Lista Miembros</li>
    </ol>
  </nav>
  <div class="d-flex flex-column w-100 gap-3 mt-md-4 p-md-4 p-3">
    <h2>Listado Miembros</h2>
    <app-generic-table
      [data]="members"
      [columns]="displayedColumns"
      [showActions]="true"
      (actionEvent)="handleAction($event)"
    ></app-generic-table>
  </div>
</section>
