<app-navegacion></app-navegacion>
<section class="lista-curso d-flex flex-column align-items-center p-3">
  <nav aria-label="breadcrumb" class="w-100 container-breadcrumb">
    <ol class="breadcrumb mx-3 my-3 my-md-3">
      <li class="breadcrumb-item">
        <a routerLink="/principal">Inicio</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/educacionCristiana">Educacion Cristiana </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Lista Cursos</li>
    </ol>
  </nav>
  <div class="d-flex flex-column w-100 gap-3 mt-md-4 p-md-4 p-3">
    <h2>Listado Cursos</h2>
    <div class="table-responsive mat-elevation-z8 w-100">
      <table mat-table [dataSource]="dataSource" matSort class="table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nombre Curso
          </th>
          <td mat-cell *matCellDef="let course">{{ course.name }}</td>
        </ng-container>

        <!-- dateStart Column -->
        <ng-container matColumnDef="dateStart">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha de comienzo
          </th>
          <td mat-cell *matCellDef="let course">
            {{ course.dateStart | date }}
          </td>
        </ng-container>

        <!-- cellphone Column -->
        <ng-container matColumnDef="dateEnd">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha Finalización
          </th>
          <td mat-cell *matCellDef="let course">
            {{ course.dateEnd | date }}
          </td>
        </ng-container>

        <!-- Edit Button Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
            <button
              type="button"
              class="btn p-0"
              (click)="editCourses(user._id)"
            >
              <i class="bi bi-pencil-square h5"></i>
            </button>
          </td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
            <button
              type="button"
              class="btn p-0"
              (click)="deleteCourses(user._id)"
            >
              <i class="bi bi-trash-fill text-danger h5"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</section>
