<app-navegacion></app-navegacion>
<section
  class="actividades d-flex flex-column align-items-center align-lg-content-center gap-4 gap-lg-5"
>
  <nav aria-label="breadcrumb" class="w-100 container-breadcrumb">
    <ol class="breadcrumb mx-3 my-3 my-md-5">
      <li class="breadcrumb-item"><a routerLink="/principal">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Actividades Especiales
      </li>
    </ol>
  </nav>
  <div
    class="d-flex flex-md-row flex-column justify-content-center align-items-center gap-3 gap-md-5 mt-md-4 p-md-4 p-3"
  >
    <article class="align-content-center text-center text-md-start">
      <h2>Actividades Especiales</h2>
      <p class="text-start text-break lh-base fs-6">
        En esta sección puedes crear una actividad para un servicio en especial,
        <em>ejemplo: Servicio de mujeres.</em><br />
        Seleciona el botón de registrar nueva actividad donde encontrará un
        formulario para tener el registro de la actividad <br />
        que se realizó, qué actividades se realizaron, en qué fecha se realizó y
        cuantas personas asistieron.<br />
        Seleciona el botón de ver actividad para que encutre cuantas actividades
        se han realizado y si deseas modificación en alguna de ellas.
      </p>
    </article>
    <div
      class="d-flex flex-column justify-content-center align-items-center align-items-md-start gap-3 gap-md-4"
    >
      <button
        class="btn color-boton efecto-hover w-100 w-md-auto"
        role="button"
        routerLink="/actividadesEspeciales/nuevo"
      >
        Registrar nueva Actividad
      </button>
      <button
        class="btn color-boton efecto-hover w-100 w-md-auto"
        role="button"
        routerLink="/actividadesEspeciales/list"
      >
        Ver Actividades
      </button>
    </div>
  </div>
</section>
